
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Three.js Tween.js Example</title>

	

</head>

<body>
    <script src="{{ url_for('static', filename='../static/js/three.js')}}"></script>
	<script src="{{ url_for('static', filename='../static/js/OrbitControls.js')}}"></script>
	<script src="{{ url_for('static', filename='../static/js/GLTFLoader.js')}}"></script>
	<script src="{{ url_for('static', filename='../static/js/test.js')}}"></script>
<script>
	
</script>
</body>

</html>