{% extends './layout.html' %}

{% block body %}
<style>
.cover{
    position: absolute;
    z-index: -9999;
    width: 100%;
}
.userInfo {
        display: flex;
        flex-direction: column;
}
</style>

<div class="profile-content">

<div class="cover"><img width="100%" src="{{ url_for('static', filename='../../static/graphics/default-cover.png')}}" alt=""></div>    

<div class="userInfo">
<h1 class="title is-1" style="color: white;">Profile</h1>
<h2 class="subtitle is-4" style="color: white;">Welcome {{username}}</h2>
</div>
<img src="{{profile_pic}}" alt="Profile Picture" style="width: 100px; height: 100px;" class="profile">
{% if modify %}

<a href="{{ url_for('update_photo') }}" class="button is-success is-rounded" style="width: 40px; height: 40px;">
    <i class="fas fa-user-edit"></i>
</a>
<a href="
    {{ url_for('new_post') }}" class=" button is-rounded">New Post</a>
<hr>
</div>
{% for post in posts|reverse %}


{% include "includes/_post.html" %}

{% endfor %}

{% endif %}
{% endblock %}